<div class="container">
  <div class="row">    
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Registro</h3>
        </div>
        <div class="panel-body">
          <%= render "forms/new_user_form"%>
        </div>
      </div>
    </div>
  </div>
</div>