<%= render "shared/header"%>

<%= render "shared/chart_script"%>

<div class="container" style="margin-top: 6%;">
	<div class="row">
		<div class="col-md-4">
			<%= render "shared/user_sidemenu"%>
		</div>
  	<div class="col-md-8">
  		<div class="btn-group btn-group-justified" data-toggle="buttons" style="margin-top:15px;">
			  <label class="btn btn-primary active">
			    <input type="radio" name="options" id="option1"> Patrocinadores más populares
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="options" id="option2"> Archivos más reproducidos
			  </label>
			  <% if current_user.admin?%>	 
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option3"> Usuarios por producto
				  </label>
			  <% end %>
			</div>

			<div id="stats_chart" style="width: 90%;height: 300px;margin: 10px auto;"></div>
  	</div>
	</div>
</div>