<div class="container">
  <div class="row">
	  <div class="col-md-9 col-md-offset-3"><%= image_tag("logo.png", class: "img-rounded logo") %></div>	  
	</div>
	
</div>

<div class="container">
  <div class="row">
	  <div class="col-md-4">
	  	<div class="panel panel-default">
			  <div class="panel-body">
			    <form role="form">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>					  
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Recordarme
					    </label>
					  </div>
					  <div class="form-group">
					    <a href="#">Crear cuenta</a>
							<a href="#" style="float:right;">Recuperar contraseña</a>					    
					  </div>
					  <button type="submit" class="btn btn-default">Ingresar</button>
					</form>
			  </div>
			</div>
	  </div>
	</div>
</div>