<div class="container">
  <div class="row">
	  <div class="col-md-9 col-md-offset-3"><%= image_tag("logo.png", class: "img-rounded logo") %></div>  
	</div>	
</div>

<div class="container">
  <div class="row">
	  <div class="col-md-4">
	  	<div class="panel panel-default">
			  <div class="panel-body">
			    <%= render "forms/login_form"%>
			  </div>
			</div>
	  </div>
	</div>
</div>