<%= render "shared/header"%>

<div class="container" style="margin-top: 6%;">
	<div class="row">
		<div class="col-md-4">
			<%= render "shared/user_sidemenu"%>
		</div>
  	<div class="col-md-8">
  		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" style="margin-top: 15px;">
			  <li class="dropdown active">
	        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Administrar eventos <span class="caret"></span></a>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
	          <li><a href="#dropdown1" tabindex="-1" role="tab" data-toggle="tab">Nuevo evento</a></li>
	          <li><a href="#dropdown2" tabindex="-1" role="tab" data-toggle="tab">Revisar eventos</a></li>
	        </ul>
	      </li>			  
			  <li><a href="#settings" role="tab" data-toggle="tab">Clientes (admins) 3E</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content" style="margin-top: 10px;">
			  <div class="tab-pane fade" id="settings">asdasd</div>
			  <div class="tab-pane fade in active" id="dropdown1">
			  	<%= render "forms/new_event"%>
				</div>
			  <div class="tab-pane fade" id="dropdown2">
			  	<%= render "shared/all_events"%>
			  </div>
			  
			</div>
  	</div>
	</div>
</div>