<%= render "shared/header"%>

<div class="container" style="margin-top: 6%;">
	<div class="row">
		<div class="col-md-4">
			<%= render "shared/user_sidemenu"%>
		</div>
  	<div class="col-md-8">
  		<div class="alert alert-danger" role="alert" style="margin-top:15px;">
      <strong>Oh Pagina no encontrada!</strong> Al parecer nuestros profesionales aún no tienen lista esta página para usted.
    </div>
    <div style="width: 50%; margin: 0 auto;">
    <%= image_tag "Web-Development.png", class: "working-img" %>
    </div>
    <h2 style="text-align: center;">ESTAMOS TRABAJANDO PARA USTED :)</h2>
  	</div>
	</div>
</div>