body {
	//background-image: image-url("sales-trainings.jpg");
	background-color: rgba(51,51,51,0.2);
	//opacity: 0.8;
}

.logo{
	max-width: 70%;
	max-height: 50%;
	margin-top: 2%;
}

.panel{
	margin-top: 15px;
}

#error_explanation {  
  ul {
    
    margin: 5px 0 0 0;
  }
}

div > .field_with_errors{
  @extend .control-group;
  @extend .has-error;
}

.avatar{
	width: 50px;
	height: 50px;
}

.gicom-icon{
	height: 50px;
	width: 50px;
	margin-top: -10px;
}

.navbar-right{	
	padding: 5px;
	img, li:not(.dropdownItem), a:not(.dropdownLink){
		display: inline-block !important;
	}

	a{
		display: inline-block;
	}
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {  	
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
    img {
  		width: 60px;
  		height: 60px;
  		margin-right: 5%;	
  	}

  	a {
  		font-size: 25px;
  	}
  }
}

.working-img{
  max-width: 400px;
max-height: 400px;
margin: 0 auto;
}